* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}
body {
  background: url(../img/bg.png) no-repeat top center;
  line-height: 1.15;
}
header {
  height: 6rem;
  background: url(../img/head_bg.png) no-repeat;
  background-size: 100% 100%;
}
header h1 {
  font-size: 1.475rem;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  line-height: 5rem;
}
header .show-head {
  position: absolute;
  top: 0;
  left: .375rem;
  line-height: 3.5rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.125rem;
}
header .show-time {
  position: absolute;
  top: 0;
  right: 1rem;
  line-height: 3.5rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.125rem;
}
.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #ff5500;
}
.bg-purple {
  background: #ff0000;
}
.bg-purple-light {
  background: #ff0000;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.mainbox {
  display: flex;
  min-width: 1024px;
  max-height: 1920px;
  margin: 0 auto;
  padding: .125rem .125rem 0;
}
.mainbox .column {
  flex: 2;
}
.mainbox .column:nth-child(2) {
  flex: 10;
  margin: 0 .125rem .1875rem;
  overflow: hidden;
}
.mainbox .panel-left {
  position: relative;
  height: auto;
  padding: 0 .1875rem .5rem;
  margin-bottom: .1875rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.03);
}
.mainbox .panel-left .panel-left-small {
  position: relative;
  height: 2.75rem;
  padding: .1875rem ;
  margin: .5875rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.06);
}
.mainbox .panel-left h1 {
  font-size: 1.3em;
  text-align: center;
  margin: 0.325rem 0.125rem 0.125rem;
  color: rgba(255, 255, 255, 0.87);
}
.mainbox .panel-left h1 a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}
.mainbox .panel-left h1 a:hover {
  color: blue;
}
.mainbox .panel-main {
  position: relative;
  display: flex;
  padding: 0 .1875rem .5rem;
  margin-bottom: .1875rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.03);
}
.mainbox .panel-main .panel-main-column {
  flex: 6;
}
.mainbox .panel-main .content {
  width: 300px;
  height: 300px;
}
.mainbox .panel-main .content .cross {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 5px 5px 5px rgba(172, 172, 172, 0.3);
  box-shadow: 5px 5px 5px rgba(172, 172, 172, 0.3);
}
.mainbox .panel-main .content .up {
  background: #c7ede9;
  margin: 0 auto;
}
.mainbox .panel-main .content .left {
  background: #5ca7ba;
  float: left;
}
.mainbox .panel-main .content .icon {
  float: left;
  background: #ff0000;
}
.mainbox .panel-main .content .right {
  background: #93e0ff;
  float: left;
}
.mainbox .panel-main .down {
  background: #afd7ed;
  clear: both;
  margin: 0 auto;
}
.mainbox .panel-main .row-bg {
  position: relative;
  padding: 10px 0;
  top: 3.5rem;
  left: -17rem;
}
.mainbox .panel-main .row-b {
  position: relative;
  margin-bottom: .1875rem;
  top: 0.25rem;
  left: 20px;
  padding: 10px 0;
}
.mainbox .panel-main-footer {
  height: 2.25rem;
  margin-top: .1875rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
}
.mainbox .panel-main-footer .show-button {
  position: absolute;
  top: 9rem;
  right: 0.75rem;
  line-height: 0.9375rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.3125rem;
}
.mainbox .panel-main-footer .show-button .el-button--detal {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.87);
  border: 1px solid #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
