.panel-main-eqm{
		position: relative;
		display: flex;
		justify-content: center;
		// height: 6.85rem;
		padding: 0 .1875rem .5rem;
		margin-bottom: .1875rem;
		// border: 1px solid rgba(25, 186, 139, 0.17);
		// background: rgba(255, 255, 255, 0.03);
		.panel-main-column{
			flex: 6;
		}
		
	
	}
.eqm{
	position: relative;
	display: flex;
	justify-content: center;
	padding: 0 .1875rem .5rem;
	margin-bottom: .1875rem;
	// border: 1px solid rgba(25, 186, 139, 0.17);
	// background: rgba(255, 255, 255, 0.07);
	height: auto;
	width: auto;	
	.eqm-panel{
		position: relative;
		    display: block;
		    justify-content: center;
		    padding: 0 2rem;
		    margin: 1rem;
		    // border: 1px solid rgba(25, 186, 139, 0.17);
		    // background: rgba(255, 255, 255, 0.1);
		    height: auto;
		    width: 18rem;
			.panel-e{
				position: relative;
				    display: flex;
				    justify-content: center;
				    padding: .5rem;
				    margin: 1rem;
				    // border: 1px solid rgba(25, 186, 139, 0.17);
				    // background: rgba(255, 255, 255, 0.2);
				    height: 3rem;
					.h{
						padding: .5rem;
						    margin-bottom: 1rem;
						    color: #e2e4e7;
						    font-size: 20px;
						    line-height: 1;
						    vertical-align: middle;
						    font-weight: bold;
					}
						
					.ht{
						padding: .5rem;
						    margin-bottom: 1rem;
						    color: #45ff2f;
						    font-size: 20px;
						    line-height: 1;
						    vertical-align: middle;
						    font-weight: bold;
					}
					.hw{
						padding: .5rem;
						    margin-bottom: 1rem;
						    color: #45ff2f;
						    font-size: 25px;
						    line-height: 1;
						    vertical-align: middle;
						    font-weight: bold;
						}
					.hw1{
							padding: .5rem;
							    margin-bottom: 1rem;
							    color: #ffaa00;
							    font-size: 25px;
							    line-height: 1;
							    vertical-align: middle;
							    font-weight: bold;
							}
						.hx{
							padding: .5rem;
							    margin-bottom: 1rem;
							    color:  #ffaa00;
							    font-size: 20px;
							    line-height: 1;
							    vertical-align: middle;
							    font-weight: bold;
							}
						
						
			}
	}
}
.det{
     display: block;
	 height:auto;
	 width: auto;
	.det-panel{
		position: relative;
		display: flex;
		justify-content: center;
		padding: 0 .1875rem .5rem;
		margin-bottom: .1875rem;
		height: auto;
		    width: 68rem;
			
			.panel-up{
				position: relative;
				    display: block;
				    justify-content: center;
				    padding: 0 .1875rem .5rem;
				    margin-bottom: .1875rem;
				    border: 1px solid #070946;
				    background: rgba(255, 255, 255, 0.87);
				    height: auto;
				    width: 68rem;
					// .up-title{
					// 	position: absolute;
					// 	    display: flex;
					// 	    justify-content: center;
					// 	    border: 1px solid rgba(25, 186, 139, 0.17);
					// 	    background: rgba(255, 255, 255, 0.3);
					// 	    height: 2rem;
					// 	    width: 6rem;
					// 	}
						.up{
							position: relative;
							    display: flex;
							    justify-content: center;
							    padding: 0 .1875rem .5rem;
							    margin-bottom: .1875rem;
							    height: 15rem;
							    width: 68rem;
						}
					
			}
		.panel-le{
			position: relative;
			    display: block;
			    justify-content: center;
			    // padding: 0 .1875rem .5rem;
			    margin-bottom: .1875rem;
			    margin-right: 1rem;
			    
			    height: auto;
			    width: 33rem;
				
				.left{
					    display: flex;
					    justify-content: center;
					    padding: 0 .1875rem .5rem;
					    margin: .5rem 1rem .2rem 0rem;
					   
					    border: 1px solid rgba(25, 186, 139, 0.17);
					    background: rgba(255, 255, 255, 0.87);
					    height: 7.5rem;
					    width: 33rem;
				}
		}
		.panel-rg{
			position: relative;
			    display: block;
			    justify-content: center;
			    // padding: 0 .1875rem .5rem;
			    margin-bottom: .1875rem;
			    margin-left: 1rem;
			   
			    height: auto;
			    width: 33rem;
				
				.right{
					position: relative;
					    display: flex;
					    justify-content: center;
					    padding: 0 .1875rem .5rem;
					   margin: .5rem 1rem .2rem 0rem;
					    border: 1px solid rgba(25, 186, 139, 0.17);
					    background: rgba(255, 255, 255, 0.87);
					       height: 7.5rem;
					       width: 33rem;
				}
		}
	}
}

