* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}
body {
  background: url(../img/bg.jpg) no-repeat top center;
  line-height: 1.15;
}
body .tem {
  width: 100%;
  height: 100%;
}
header {
  height: 6rem;
  background: url(../img/head_bg.png) no-repeat;
  background-size: 100% 100%;
}
header h1 {
  font-size: 1.475rem;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  line-height: 5rem;
}
header .show-head {
  position: absolute;
  top: 0;
  left: .375rem;
  line-height: 3.5rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.125rem;
}
header .show-time {
  position: absolute;
  top: 0;
  right: 1rem;
  line-height: 3.5rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.125rem;
}
.mainbox {
  display: flex;
  min-width: 1025px;
  max-height: 1920px;
  margin: 0 auto;
  padding: .125rem .125rem 0;
}
.mainbox .column {
  flex: 3;
}
.mainbox .column:nth-child(2) {
  flex: 32;
  margin: 0 .125rem .1875rem;
  overflow: hidden;
}
.mainbox .panel {
  position: relative;
  height: 20.25rem;
  padding: 0 .1875rem .5rem;
  margin-bottom: .3875rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.03);
}
.mainbox .panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '';
}
.mainbox .panel::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '';
}
.mainbox .panel .panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .panel .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '';
}
.mainbox .panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '';
}
.mainbox .panel .panel-center {
  display: flex;
  min-width: 1024px;
  max-height: 1290px;
  margin: 0 auto;
  padding: .125rem .125rem 0;
}
.mainbox .panel .panel-center .panel-column {
  flex: 8;
}
.mainbox .panel .panel-center .panel-column-small {
  position: relative;
  height: 5.75rem;
  padding: .1875rem ;
  margin: .1875rem;
}
.mainbox .panel .panel-center .panel-column-small-little {
  height: 5.5rem;
  padding: .2875rem;
  margin: 1rem .75rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background-color: rgba(255, 255, 255, 0.87);
}
.mainbox .panel .panel-center .panel-column-small-little h3 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0.125rem 0 0.125rem;
  padding: 0.8rem 0;
  color: black;
}
.mainbox .panel .panel-center .panel-column-small-title {
  height: 3.5rem;
  margin: .1rem;
}
.mainbox .panel .panel-center .panel-column-small-title h1 {
  font-size: 1.9em;
  text-align: center;
  margin: 0.125rem 0 0.125rem;
  color: rgba(255, 255, 255, 0.87);
}
.mainbox .panel .panel-center .panel-column-small-title h2 {
  font-size: 1.9em;
  text-align: center;
  margin: 1.8rem 0.125rem;
  padding: 0.25rem;
  color: rgba(255, 255, 255, 0.87);
}
.mainbox .panel-2 {
  position: relative;
  height: 8.25rem;
  margin-top: .1875rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.01);
}
.mainbox .panel-2 .show-button {
  position: absolute;
  top: 2.5rem;
  right: 2.25rem;
  line-height: 0.9375rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.3125rem;
}
.mainbox .panel-2 .show-button .el-button--detal {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.87);
  border: 1px solid #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.mainbox .panel-2 .detail-button {
  position: absolute;
  top: 2.5rem;
  right: 19.75rem;
  line-height: 0.9375rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.3125rem;
}
.mainbox .panel-2 .block {
  position: absolute;
  top: 2.5rem;
  left: 24.25rem;
  line-height: 0.9375rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.3125rem;
}
