.panel-main-column-small{
			height: 6.5rem;
			padding: .1875rem;
			margin: .1575rem;
			border: 1px solid rgba(25, 186, 139, 0.17);
			background: rgba(255, 255, 255, 0.10);
			// background-color: rgba(255, 255, 255, 0.87);
		}
.panel-main-column-little{
			height: 6.5rem;
			padding: .1875rem;
			margin: .1575rem;
			border: 1px solid rgba(25, 186, 139, 0.17);
			background: rgba(255, 255, 255, 0.10);
			// background-color: rgba(255, 255, 255, 0.87);
		}
.panel-main-column-title{
			height: 1.5rem;
			margin: .1rem;
			padding: 0.25rem;
			
			h1 {
			    // display: block;
			    font-size: 1.9em;
				text-align:center;
				margin:0.125rem 0 0.125rem;
				color: rgba(255, 255, 255, 0.87);
			}
			h2{
				font-size: 1.9em;
				text-align:center;
				margin:0.125rem 0.125rem;
				padding: 0.25rem;
				color: rgba(255, 255, 255, 0.87);
			}
		}
.panel-main-column-small-little{
			height: 1.4rem;
			padding: .1875rem;
			margin: .1575rem;
			border: 1px solid rgba(25, 186, 139, 0.17);
			// background: rgba(255, 255, 255, 0.10);
			background-color: rgba(255, 255, 255, 0.87);
			h3{
				font-size: 0.6rem;
				text-align:center;
				margin:0.125rem 0 0.125rem;
				color: black;
			}
		}