.panel-qua{
		position: relative;
		display: flex;
		// height: 6.85rem;
		padding: 0 .1875rem .5rem;
		margin-bottom: .1875rem;
		border: 1px solid rgba(25, 186, 139, 0.17);
		background: rgba(255, 255, 255, 0.03);
		}
		